header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .navbar{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    max-width: 1300px;
    align-items: center;
    justify-content: space-between;
}
header.sticky{
  background: #7e7f80;
}
header .navbar .logo-text{
    color: #fbf9f9;
    font-size: 2rem;
    font-weight: 600;
}

header .navbar .nav-menu{
    gap: 0.9rem;
    display: flex;
}

header .navbar .bi{
    display: none;
}

header .navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: #f7f4f4;
    font-size: 1.12rem;
    border-radius: 30px;
    transform: 0.3s ease;
}

header .nav-link {
  font-size: 18px;
  padding: 10px 18px;
  color: #e6e6e6;
  font-family: inherit;
  font-weight: 100;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

header .nav-link:focus,
.nav-link:hover {
  color: #fff;
}

 header .nav-link:focus:after,
.nav-link:hover:after {
  width: 100%;
  left: 0%;
}

header .nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

header .navbar .nav-menu .nav-link:hover{
    color: #d1c9c9;
}

header .navbar .nav-menu.show{
    right: 0;
}

@media screen and (max-width: 930px) {
    header .nav-menu{
        position: fixed;
        background: #ffffff;
        right: -450px;
        height: 100%;
        width: 260px;
        top: 63px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 8px;
    }

    header .navbar .bi{
        display: block;
        color: #e4e0e0;
        font-size: 1.5rem;
        font-weight: 400;
    }

    header a{
        color: #ffffff;
    }

    header .navbar .nav-menu .nav-link{
        display: block;
        margin-top: 8px;
        padding: 10px 20px;
        color: #000000;
        font-size:0.9rem;
    }
}