@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: bisque;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* img{
  width: 100%;
}

:where(section, footer) .section-content{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
} */

section .section-title{
  /* padding: 60px 0 100px; */
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

section .section-title::after{
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  background: darkorange;
  border-radius: 8px;
}

nav::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}